/* Navigation */

nav .brand-logo {
  letter-spacing: 4px;
  margin-left: 10px;
  color: black;
}

ul:not(.browser-default) {
  font-weight: 500;
  letter-spacing: 2px;
  padding-right: 5px;
}

/* Slider Fullscreen */
.slider.fullscreen{
    z-index: 0;
}

/* General*/
h3.header.all-h3 {
  text-align: center;
  margin-top: 70px;
  margin-bottom: 30px;
}

h3.caption1 {
  margin-top: 160px;
  margin-right: 100px;
}

.flash_msg{
    margin-left: 50px;
    color: #0d47a1;
}

.row.reset-cancel {
    margin-top: 20px;
}

/* My recipes */
form.col.s8.search-box {
  margin-left: 200px;
}

a.btn-floating.btn-small.waves-effect.waves-light pink darken-2 {
  float: right;
}

a.waves-effect.waves-light.btn.reset-btn {
  background-color: #039be5;
  margin-left: 10px;
}

/* recipe cards */
.row.cards {
  margin-bottom: 50px;
  margin-top: 50px;
}

.card .card-content .card-title .name_recipe {
    line-height: 10px;
    margin-bottom: 4px;
    font-weight: 500;
    letter-spacing: 1px;
}

.btn,
.btn-large,
input.btn.btn-default {
  display: inline-block;
}

.btn:hover, .btn-large:hover, .btn-small:hover {
    background-color: #c8e6c9;
}

#edit-button,
#del-button {
  background-color: #81c784 ;
  letter-spacing: 2px;
  margin-right: 20px;
  display: inline-block;
}


.row.back-btn {
  margin-top: 50px;
  float: right;
}

a.back-btn {
  background-color: #039be5;
}

i.material-icons.cloud {
    color: #4caf50;
    float: right;
}

/* Add category */
.col.m6.offset-m2.addcat-btn {
  margin-top: 10px;
}

a#editcat-button {
    background-color: #fb8c00;
}


/* Contact form */
div#contact-form {
  margin-top: 50px;
}

.btn,
.btn-large,
input.btn.btn-default {
  background-color: #81c784;
  display: inherit;
  margin: 0 auto;
}

/* Editrecipe */
.row.editrecipe {
  margin-right: 150px;
  padding-right: 20px;
}

/* About */
.col.s6.contact-form {
  margin-top: 40px;
}

.card-about{
    margin-top: 30px;
}

li.flashes-msg {
  font-weight: 700;
  letter-spacing: 2px;
}

/* Parallax */
.parallax-container .parallax img {
  display: inline-block;
}

/* Login */
.card-panel.login {
  margin-top: 50px;
}

.btn-login:hover{
    background-color: #c8e6c9;
}

/* Footer */
li.horizontal{
    display: inline;
    margin-right: 40px;
}

i.fontawesome.fab.fa-facebook-f, i.fontawesome.fab.fa-instagram, 
i.fontawesome.fab.fa-linkedin-in, i.fontawesome.far.fa-envelope {
    font-size: 50px;
}

i.fontawesome.far.fa-envelope{
    text-align: center;
}

/* Calendar */
#external-events {
  position: fixed;
  z-index: 2;
  top: 20px;
  left: 20px;
  width: 150px;
  padding: 0 10px;
  border: 1px solid #ccc;
  background: #eee;
}

div#external-events {
    visibility: hidden;
}

#external-events .fc-event {
  cursor: move;
  margin: 3px 0;
}

button.fc-prev-button.fc-button.fc-button-primary, button.fc-next-button.fc-button.fc-button-primary,
button.fc-dayGridMonth-button.fc-button.fc-button-primary.fc-button-active,
button.fc-today-button.fc-button.fc-button-primary, fc-timeGridWeek-button fc-button fc-button-primary,
fc-timeGridDay-button fc-button fc-button-primary {
    background-color: #a5d6a7;
    border: #a5d6a7;
}

h2.fc-toolbar-title {
    color: #a5d6a7;
}


#calendar-container {
  position: relative;
  z-index: 1;
  margin-left: 200px;
  margin-top: 20px;
}

#calendar {
  max-width: 1100px;
  margin: 20px auto;
}