/* Navigation */
nav .nav-wrapper {
    background-color: #fbc3c3;
}

nav .brand-logo {
    letter-spacing: 4px;
    margin-left: 10px;
}

ul:not(.browser-default) {
    font-weight: 500;
    letter-spacing: 2px;
    padding-right: 5px;
}

/* background image and jumbotron */
.jumbotron {
  margin-right: 20px;
  margin-left: 20px;
  background-color: transparent;
  border: none;
  -webkit-box-shadow: inset 0 0px 0 rgba(0, 0, 0, 0);
  min-height: 350px;
}

.jumbo-img {
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
}

h1.display-4 {
    margin-left: 50px;
    color: pink;
}

p.lead {
    margin-top: 62px;
    margin-left: 75px;
    color: #fafafa;
    font-size: 25px;
}

    /* recipe cards */
.row.cards {
    margin-bottom: 50px;
    margin-top: 50px;
}

#edit-button{
    background-color: pink;
    letter-spacing: 2px;
    margin-right: 20px;
}

#del-button{
    background-color: orangered;
}

    /* contact form */
div#contact-form {
    margin-top: 50px;
}

.btn, .btn-large, input.btn.btn-default{
    background-color: pink;
    display: inherit;
    margin: 0 auto;
}

    /* login page */
#all-h3{
    text-align: center;
    color: cadetblue;
    margin-top: 50px;
}

    /* Material icons and switch lever */
i.material-icons {
    color: pink;
}

.switch label input[type=checkbox]:checked+.lever .switch label input[type=checkbox]:checked+.lever:after {
    background-color: pink;
}