nav .nav-wrapper {
    background-color: #fbc3c3;
}

nav .brand-logo {
    letter-spacing: 4px;
}

nav .brand-logo {
    font-weight: 500;
    letter-spacing: 2px;
    padding-right: 5px;
}

header.masthead {
    width: 100%;
    height: 40vw;
}
