<!DOCTYPE html>
<html lang="en">
  <head>
    <title>About me</title>
  </head>

  <body>
    {% extends 'base.html' %} {% block content%}

    <h3 class="all-h3">
      Let me tell you my story...
    </h3>
    <div class="col s12 m8 offset-m2 l6 offset-l3">
      <div class="card-panel grey lighten-5 z-depth-1">
        <div class="row valign-wrapper">
          <div class="col s2">
            <img
              src="{{url_for('static', filename='images/cathy.jpg')}}"
              alt="cathy profile pix"
              class="circle responsive-img"
            />
          </div>
          <div class="col s10">
            <span class="black-text">
              My name is Catherine, traveling is one of my passion and it has
              made me realize I am passionate about people. <br />
              I travel and I continue to travel not only to discover unknown
              places and amazing landscapes, to live experiences of a lifetime
              but also and especially to get to know a culture, to talk with the
              people and to discover their culture and their way of living.
              <br />
              This has always put me in a position to remember my smallness, to
              respect people, whoever they are and wherever they come from.
              <br />To a certain extent, it always pushes me to look myself in
              the face, to re-evaluate and readjust myself with who I really am
              because sometimes you get lost in the complexity of things and
              events in life, don't you? There is no trip or country I didn’t
              like; but most of the time, the relationship you get with people
              of a country makes the difference. By their history and culture,
              by their kindness, their character, their charisma... people and
              food is the main reason why I would go back again to a country.
              <br />
              Of course, my choice goes first for countries where the human
              contact was rich and these countries are part of the list of
              countries where I have to go back because I remained with a taste
              of not enough. I still have so much to learn from these human
              contacts and exchanges. A lifetime will not be enough.
              <br />Probably, everything around cooking and kitchen provides me
              with similarities and differences with what I have already
              experienced and already known. It seems that this is what brings
              me back to my origins, getting to know myself and what allows me
              to appreciate what I am. <br />I still have so much to learn from
              these culinary exchanges. <br /><br />
              "I've met many people in Europe. I've even met myself there."
              James Baldwin “J’ai rencontré de nombreuses personnes en Europe.
              J’y ai même rencontré moi même.”
              <br />
              With hindsight, I have noticed that with another culture, another
              country, other people, gastronomy is my point of reference or
              comparison.
              <br />Through food, I can feel a sense of home and sense of
              community. Driven by a culinary curiosity, an interest in new
              tastes and original shapes my favourite go to place are the local
              markets and places, where i can discover special spices, local
              vegetables and fruits. <br />Whenever I have the opportunity, I
              sneak in local kitchens to furtively check on and learn cooking
              techniques. You understand, I love people, travels and food. Like
              many of us! <br /><strong
                >So I am happy to invite you to browse my pages, my recipes and
                I wait for your feedbacks, feel free to ask questions and
                exchange.</strong
              >
            </span>
          </div>
        </div>
      </div>
      <br />
      <h3 class="all-h3">
        How did I get to know and get Thermomix for myself?
      </h3>
      <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row valign-wrapper">
            <div class="col s10">
              <span class="black-text">
                My mother in law actually has the TM21 that was released in
                1996. She always sang the praises of the kitchen appliance. She
                is the one and I thank her for that, who suggested me to have a
                Thermomix.
                <br />Six months after I got my little one, I felt just
                overwhelmed by our new life with a baby, not finding the time to
                cook as before. <br />While I was trying to get on a new routine
                as a new mum, my passion for cooking just faded away, I had no
                interest anymore in cooking or in sharing meals with friends,
                <br />
                I had no inspiration anymore and if we were not ordering ready
                meals, the basic food I would prepare back then was not
                appealing and flat.
                <br />My priorities had changed and I needed to adjust myself to
                our new life. <br />I needed help to save time for myself, get
                to know my little baby, eat properly, make real healthy meals
                for the family, and get ready for when I will be back to my full
                time job! <br />It was enough to rely on the ready meals; it was
                time more than ever to take care of our bodies and mind. <br />I
                found excuses to jump as it is an investment and it took a while
                to decide myself buying Thermomix. Initially it “was too much
                money for a simple blender!!!” <br />
                Then “it will take away the joy of food prep and the love of my
                pots and pans”, it will take me away from the kitchen, which is
                my “escape” from the daily worries!
                <br />Out of the three reasons, the last two points were not
                valid anymore as the pots and pans I was praising used to stay
                in the cupboards and trying to organize our healthy and weekly
                meal was stressful and time consuming.
              </span>
            </div>
            <div class="col s2">
              <img
                src="https://www.kook-plezier.nl/data/ab/artikelen/artikel-details/Thermomix_-_De_kleinste_keuken_ter_wereld(3).png"
                alt="thermomix pix"
                class="circle responsive-img"
              />
            </div>
          </div>
        </div>
      </div>
      <br>

      <h3 class="all-h3">
      From using the thermomix to being a thermomix advisor...
    </h3>
    <div class="col s12 m8 offset-m2 l6 offset-l3">
      <div class="card-panel grey lighten-5 z-depth-1">
        <div class="row valign-wrapper">
          <div class="col s2">
            <img
              src="https://a1.amlimg.com/MDA5ZmE2MDcyZDZjZmIxY2I3MWIxZDBhMWU4ZjJjYzTj_E9-8Dj5Mq4VZDBTBZ2IaHR0cDovL21lZGlhLmFkc2ltZy5jb20vMTA0MzZiZDcxODI0MTNiMTIyMWY0Nzk2MGQ1YTkzOTUzYzlmNGQzODdmNGMyOGZjYTUxM2FkNjQwMjIxMjlkNS5qcGd8fHx8fHw1Nzd4NDM3fGh0dHA6Ly93d3cuYWR2ZXJ0cy5pZS9zdGF0aWMvaS93YXRlcm1hcmsucG5nfHx8.jpg"
              alt="cathy profile pix"
              class="circle responsive-img"
            />
          </div>
          <div class="col s10">
            <span class="black-text">
        Becoming a Thermomix advisor and being able to earn it or have it discounted was sorting out my doubt in putting that much money for a “simple blender”.
        <br>Not that we couldn’t afford it, it is the feeling that you don’t want to believe it really will help you. You are afraid to be disappointed. <br>
        The truth is that the minute an advisor came to my home for a demonstration, I knew for sure I had to have one. 
        <br>The truth is that the minute I placed Thermomix in my kitchen and prepared my first bread and soup in my new kitchen assistant, I knew it was the best investment for my time, for our mind and body health. 
        <br>The truth is that Thermomix is not a “simple blender”. <br>
        Thermomix is one fabulous and versatile cooking machine that can replace at least 12 separate other kitchen appliances. So it brought me to de -clutter my kitchen and make some space. 

            </span>
          </div>
        </div>
      </div>
    </div>
      {% endblock%}
    </div>
  </body>
</html>
