<!DOCTYPE html>
<html>

<head>
	<title>Add category</title>
</head>

<body>
	{% extends 'base.html' %} {% block content%}
	<h3 class="header all-h3">You can add any new category here</h3>

	<!--Category Form-->
	<div class="row">
		<form action="{{url_for('insert_category')}}" method="POST" class="col s12">
			<div class="row">
				<div class="input-field col s4 offset-m4">
					<i class="material-icons prefix">add</i>
					<input
              id="category_name"
              name="category_name"
              type="text"
              class="validate"
              required
            />
					<label for="category_name">Category Name</label>
				</div>

				<!--Add Category button-->
				<div class="row">
					<div class="col m4 offset-m4 addcat-btn">
						<button
                class="btn waves-effect waves-light btn-large"
                type="submit"
                name="action"
              >
                Add category
              </button>
					</div>
				</div>

				<!--Edit Category-->
				<div class="row">
					<div class="col m2 offset-m4">
						<a href="{{url_for('get_categories')}}" class="waves-effect waves-light btn"
							id="editcat-button">Edit categories</a>
					</div>
					<!--Go back-->
					<div class="col m2">
						<a href="{{url_for('get_recipes')}}" class="waves-effect waves-light btn grey">Go back</a>
					</div>
				</div>
			</div>
		</form>
	</div>
	{% endblock %}
</body>

</html>