<!DOCTYPE html>
<html>
  <head>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/style.css')}}"
      type="text/css"
    />

    <title>Recipes</title>
  </head>

  <body>
    <header>
      <!-- Navigation -->
      <div class="navbar-fixed">
        <nav>
          <div class="nav-wrapper">
            <a href="{{url_for('homepage')}}" class="brand-logo"
              >TasteBudsDream</a
            >
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><a href="{{url_for('homepage')}}">Home</a></li>
              <li><a href="{{url_for('my_recipes')}}">My recipes</a></li>
              <li><a href="{{url_for('about')}}">About me</a></li>
              <li><a href="{{url_for('contact')}}">Contact</a></li>
              <li><a href="{{url_for('login')}}">Login</a></li>
            </ul>
            <a href="#" data-target="slide-out" class="sidenav-trigger"
              ><i class="material-icons menu">menu</i></a
            >
          </div>
        </nav>
      </div>

      <!-- Navigation on mobile view -->
      <ul id="slide-out" class="sidenav">
        <li><a href="{{url_for('homepage')}}">Home</a></li>
        <li><a href="{{url_for('my_recipes')}}">My recipes</a></li>
        <li><a href="{{url_for('about')}}">About me</a></li>
        <li><a href="{{url_for('contact')}}">Contact</a></li>
        <li><a href="{{url_for('login')}}">Login</a></li>
      </ul>
    </header>

      <!-- flash messages for registering -->    
    <section>
      {% with messages = get_flashed_messages() %} {% if messages %} {% for
      message in messages %}
      <div class="row flashes">
        <h4 class="light-blue lighten-4 center-align">{{ message }}</h4>
      </div>
      {% endfor %} {% endif %} {% endwith %}
    </section>

      {% block content %} {% endblock %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <!-- Javascript for materialize -->
    <script type="text/javascript">
      $(document).ready(function () {
        $(".sidenav").sidenav();
        $(".collapsible").collapsible();
        $(".parallax").parallax();
        $("select").formSelect();
        $(".slider").slider();

      });
    </script>
  </body>
</html>
