<!DOCTYPE html>
<html>
  <head>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/style.css')}}"
      type="text/css"
    />
    <title>Recipes</title>
  </head>

  <body>
    <header>
      <div class="navbar-fixed">
        <nav>
          <div class="nav-wrapper">
            <a href="{{url_for('my_recipes')}}" class="brand-logo"
              >TasteBudsDream</a
            >
            <a href="#" data-activates="mobile-demo" class="button-collapse"
              ><i class="material-icons">menu</i></a
            >
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><a href="{{url_for('homepage')}}">Home</a></li>
              <li><a href="{{url_for('my_recipes')}}">My recipes</a></li>
              <li><a href="{{url_for('about')}}">About me</a></li>
              <li><a href="{{url_for('contact')}}">Contact</a></li>
              <li><a href="{{url_for('login')}}">Login</a></li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
              <li><a href="{{url_for('homepage')}}">Home</a></li>
              <li><a href="{{url_for('my_recipes')}}">My recipes</a></li>
              <li><a href="{{url_for('about')}}">About me</a></li>
              <li><a href="{{url_for('contact')}}">Contact</a></li>
              <li><a href="{{url_for('login')}}">Login</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </header>
    
    
      {% block content %} {% endblock %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function () {
        $(".collapsible").collapsible();
        $("select").material_select();
        $('select').formSelect();
        $(".button-collapse").sideNav();
        $('.slider').slider();
        $('.parallax').parallax();
      });
    </script>
    
  </body>
</html>
