<!DOCTYPE html>
<html>
  <head>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/style.css')}}"
      type="text/css"
    />
    <title>Recipes</title>
  </head>

  <body>
    <header>
      <!-- Navigation -->
      <div class="navbar-fixed">
        <!-- Dropdown Structure -->
        <ul id="login_out" class="dropdown-content">
          <li><a href="{{url_for('login')}}">Login</a></li>
          <li><a href="{{url_for('logout')}}">Logout</a></li>
        </ul>

        <nav>
          <div class="nav-wrapper pink darken-4">
            <a href="{{url_for('homepage')}}" class="brand-logo"
              >TasteBudsDream</a
            >
            <a href="#" data-target="slide-out" class="sidenav-trigger"
              ><i class="material-icons menu">menu</i></a
            >
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><a href="{{url_for('homepage')}}">Home</a></li>
              <li><a href="{{url_for('my_recipes')}}">My recipes</a></li>
              <li><a href="{{url_for('thermomix')}}">Thermomix</a></li>
              <li><a href="{{url_for('about')}}">About me</a></li>
              <li><a href="{{url_for('livechat')}}">get in touch</a></li>
              <li>
                <a class="dropdown-trigger" href="#!" data-target="login_out"
                  >Login/Logout<i class="material-icons right"
                    >arrow_drop_down</i
                  ></a
                >
              </li>
            </ul>
          </div>
        </nav>
      </div>

      <!-- Navigation on mobile view -->
      <ul id="loginnout" class="dropdown-content">
        <li><a href="{{url_for('login')}}">Login</a></li>
        <li><a href="{{url_for('logout')}}">Logout</a></li>     
      </ul>
      <ul id="slide-out" class="sidenav">
        <li><a href="{{url_for('homepage')}}">Home</a></li>
        <li><a href="{{url_for('my_recipes')}}">My recipes</a></li>
        <li><a href="{{url_for('thermomix')}}">Thermomix</a></li>
        <li><a href="{{url_for('about')}}">About me</a></li>
        <li><a href="{{url_for('livechat')}}">Get in touch</a></li>
        <li>
          <a class="dropdown-trigger" href="#!" data-target="loginnout"
            >Login/Logout<i class="material-icons right">arrow_drop_down</i></a
          >
        </li>
      </ul>
    </header>

    
    {% block content %} {% endblock %}
    <footer></footer>

    <script src="https://js.pusher.com/4.0/pusher.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>

    <!-- Javascript for materialize -->
    <script type="text/javascript">
      $(document).ready(function () {
        $(".sidenav").sidenav();
        $(".collapsible").collapsible();
        $(".parallax").parallax();
        $("select").formSelect();
        $(".slider").slider();
        $(".dropdown-trigger").dropdown();
        $(".carousel").carousel();
        $('.materialboxed').materialbox();
      });
    </script>
  </body>
</html>
