<!DOCTYPE html>
<html lang="en">

<head>
	<title>Contact</title>
</head>
<header class="masthead"
	style="background-image: url('https://thermomix.vorwerk.com/fileadmin/data/com-en/img/rebrush-2018/homepage/tm_100_img_teaserfunctions_tm6_en_01.jpg')">
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-10 mx-auto">
				<div class="site-heading">
					<h1>Welcome to my kitchen</h1>
					<span class="subheading">Join me in cooking and sharing the most amazing recipes with the most amazing appliance: <strong>the THERMOMIX</strong></span>
				</div>
			</div>
		</div>
	</div>
</header>

<body>
	{% extends 'base.html' %} {% block content%}
	<div class="row">
		<div class="input-field col s12">
			<i class="material-icons prefix">today</i>
			<input id="due_date" name="due_date" type="text" class="datepicker">
			<label for="icon_prefix">Due Date</label>
		</div>
	</div>
	{% endblock %}
</body>

</html>