<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Edit recipe</title>
  </head>

  <body>
    {% extends 'base.html' %} {% block content%}

    <h3 class="all-h3">
      Your {{recipe.recipe_name}} recipe is ready for editing
    </h3>

    <div class="row">
      <form
        action="{{url_for('update_recipe', recipe_id=recipe._id)}}"
        method="POST"
        class="col s12 offset-m3"
      >
        <!--Type input-->
        <div class="row">
          <div class="input-field col s4">
            <h4>Type section</h4>
            <br />
            <i class="material-icons prefix">poll</i>
            <select id="type" name="type_select">
              <option value="" disabled selected>Select a type</option>
              {% for type in types %} {% if type.type_select ==
              recipe.type_select %}
              <option value="{{type.type_select}}" selected
                >{{type.type_select}}</option
              >
              {% else %}
              <option value="{{type.type_select}}">{{type.type_select}}</option>
              {% endif %} {% endfor %}
            </select>
          </div>
          
        <!--Category input-->          
          <div class="input-field col s4">
            <h4>Category section</h4>
            <br />
            <i class="material-icons prefix">poll</i>
            <select id="category" name="category_name">
              <option value="" disabled selected>Choose a Category</option>
              {% for cat in categories %} {% if cat.category_name ==
              recipe.category_name %}
              <option value="{{cat.category_name}}" selected
                >{{cat.category_name}}</option
              >
              {% else %}
              <option value="{{cat.category_name}}"
                >{{cat.category_name}}</option
              >
              {% endif %} {% endfor %}
            </select>
          </div>
        </div>

        <!--Recipe input-->
        <div class="row">
          <h4>Recipe section</h4>
          <br />
          <div class="input-field col s6">
            <i class="material-icons prefix">assignment</i>
            <input
              id="recipe_name"
              name="recipe_name"
              type="text"
              class="validate"
              value="{{recipe.recipe_name}}"
            />
            <label for="icon_prefix">Recipe Name</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s6">
            <i class="material-icons prefix">subject</i>
            <input
              id="recipe_desciption"
              name="recipe_description"
              type="text"
              class="validate"
              value="{{recipe.recipe_description}}"
            />
            <label for="icon_prefix">Recipe Description</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s6">
            <i class="material-icons prefix">today</i>
            <input
              id="recipe_method"
              name="recipe_method"
              type="text"
              class="validate"
              value="{{recipe.recipe_method}}"
            />
            <label for="icon_prefix">Recipe Method</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s6">
            <i class="material-icons prefix">assignment</i>
            <input
              id="recipe_ingredients"
              name="recipe_ingredients"
              type="text"
              class="validate"
              value="{{recipe.recipe_ingredients}}"
            />
            <label for="icon_prefix">Recipe Ingredients</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s6">
            <i class="material-icons prefix">assignment</i>
            <input
              id="number_people"
              name="number_people"
              type="text"
              class="validate"
              value="{{recipe.number_people}}"
            />
            <label for="icon_prefix">Number of people</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s2">
            <i class="material-icons prefix">assignment</i>
            <input
              id="preparation_time"
              name="preparation_time"
              type="text"
              class="validate"
              value="{{recipe.preparation_time}}"
            />
            <label for="icon_prefix">Preparation Time</label>
          </div>
        </div>

        <!--Add image url-->
        <div class="input-field col s12">
          <i class="material-icons prefix">local_see</i>
          <input id="image_url" name="image_url" type="text" class="validate">
          <label for="icon_prefix"> Enter the image url </label>
        </div>   

        <!--Update button-->
        <div class="row">
          <div class="col offset m6">
            <button
              class="btn waves-effect waves-light btn-large"
              type="submit"
              name="action"
            >
              Update recipe
            </button>
          </div>
        </div>
      </form>
    </div>

    {% endblock %}
  </body>
</html>
