<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Homepage</title>
  </head>

  <body>
    {% extends 'base.html' %} {% block content%}
    <div class="slider fullscreen">
      <ul class="slides">
        <li>
          <img
            src="https://previews.123rf.com/images/monticello/monticello1906/monticello190600276/124959668-fresh-vegetables-and-cooking-pot-on-kitchen-table-.jpg"
          />
          <div class="caption left-align">
            <h3 class="all-h3">Welcome to my Kitchen</h3>
          </div>
        </li>
      </ul>
    </div>

    {% endblock %}
  </body>
</html>
