<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/style.css')}}"
      type="text/css"
    />
    <title>My recipes</title>
  </head>

  <body>
    {% extends 'base.html' %} {% block content%}
    <div>
      <div class="background-image" id="myrecipes_img"></div>
      <div class="jumbotron jumbotron-fluid">
        <h1 class="display-4">Welcome to my Kitchen</h1>
        <p class="lead">
          Feel free to browse my thermomix recipes below
        </p>
      </div>
    </div>

    <div class="row cards">
      {% for recipe in recipes %}
      <div class="col m6">
        <div class="card">
          <div class="card-content">
            <div class="card-image">
              <img
                src="{{url_for('static', filename = 'images/stuffedtomatoes.jpeg')}}"
              />
              <span class="card-title"
                ><h3>{{recipe.recipe_name}}</h3>
                <h4>{{recipe.category_name}}</h4>
              </span>
            </div>
            <ul class="collapsible">
              <li class="active">
                <div class="collapsible-header">
                  <i class="material-icons">info</i>For {{recipe.number_people}}
                  person - Preparation time: {{recipe.preparation_time}}
                </div>
                <div class="collapsible-body">
                  <span>{{recipe.recipe_description}}</span>
                </div>
              </li>
              <li>
                <div class="collapsible-header">
                  <i class="material-icons">description</i>Method
                </div>
                <div class="collapsible-body">
                  <span>{{recipe.recipe_method}}</span>
                </div>
              </li>
              <li>
                <div class="collapsible-header">
                  <i class="material-icons">list</i>Ingredients
                </div>
                <div class="collapsible-body">
                  <span>{{recipe.recipe_ingredients}}.</span>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      {% endfor%}
    </div>

    {% endblock %}
  </body>
</html>
