<!DOCTYPE html>
<html lang="en">

<head>
	<title>Recipes edits</title>
</head>

<body>
	{% extends 'base.html' %} {% block content%}
	<!--Parallax-->
	<div class="parallax-container">
		<div class="parallax parallax img">
			<img src="https://wallpaperaccess.com/full/372975.jpg"/>
        </div>
		</div>      
		<div class="section white">
			<div class="row container">
				<h3 class="header all-h3">Shhh....I am working on some delightful recipes...</h3>
				<p>
					This page is dedicated to recipe creativity. You can delete, edit, update or add any new creation
					here.
				</p>
				<p>
					To delete or edit a recipe, simply follow the corresponding links in each recipe cards.
					To add a new recipe or category follow the below links.<br>

					<!--Add recipe and category buttons-->
					<div class="row">
						<div class="col s4">
							<a href="{{url_for('add_category')}}" class="waves-effect waves-light btn btn-small"
								id="new-cat">New category</a>
						</div>
						<div class="col s4">
							<a href="{{url_for('add_recipe')}}" class="waves-effect waves-light btn btn-small"
								id="new-recipe">New recipe</a>
						</div>
						<div class="col s4">
							<a href="{{url_for('admin')}}" class="waves-effect waves-light btn btn-small"
								id="admin-chat">Admin Chat</a>
						</div>                        
					</div>
				</p>
			</div>
		</div>

		<!--Recipes cards-->
		<div class="row">
			{% for recipe in recipes %}
			<div class="col m4 s2">
				<div class="card">
					<div class="card-content">
						<div class="card-image">
							<a href="{{url_for('my_recipes', recipe_id=recipe._id)}}"><img class="card-image-img" src="{{recipe.image_url}}"></a>
								<span class="card-title">
              <h3>{{recipe.recipe_name}}</h3>
              <h4>{{recipe.category_name}}</h4>
              <h6>{{recipe.type_select}}</h6>
              </span>
						</div>

						<!--Collapsible-->
						<ul class="collapsible">
							<li class="active">
								<div class="collapsible-header">
									<i class="material-icons">info</i>{{recipe.category_name}}
									recipe <br />
                  For {{recipe.number_people}} person - Preparation time:
                  {{recipe.preparation_time}}
                </div>
									<div class="collapsible-body">
										<span>{{recipe.recipe_description}}</span>
										<!--Download button-->
										<a href="{{recipe.pdf}}" target="_blank"
											class="btn-floating btn-small waves-effect waves-light pink">
											<i class="material-icons">cloud_download</i></a>
									</div>
							</li>
							<!--Description-->
							<li>
								<div class="collapsible-header">
									<i class="material-icons">description</i>Method
								</div>
								<!--Method-->
								<div class="collapsible-body">
									<span>{{recipe.recipe_method}}</span>
								</div>
							</li>
							<li>
								<!--Ingredients-->
								<div class="collapsible-header">
									<i class="material-icons">format_list_bulleted</i>Ingredients
								</div>
								<div class="collapsible-body">
									<span>{{recipe.recipe_ingredients}}.</span>
								</div>
							</li>
						</ul>

						<!--Edit and Delete Recipes Buttons-->
						<div class="row">
							<div class="col s3">
								<a href="{{url_for('edit_recipe', recipe_id=recipe._id)}}"
									class="waves-effect waves-light btn btn-small" id="edit-button">Edit</a>
							</div>
							<div class="col s4">
								<a href="{{url_for('delete_recipe', recipe_id=recipe._id)}}"
									class="waves-effect waves-light btn btn-small" id="del-button">Delete</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			{% endfor%}
		</div>

		{% endblock %}
</body>

</html>